<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<div class="mm-dropdown">
  <div class="textfirst">Select<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-down-b-128.png" width="10" height="10" class="down" /></div>
  <ul>
    <li class="input-option" data-value="1">
      <img src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/image-512.png" alt="" width="20" height="20" /> Text1
    </li>
    <li class="input-option" data-value="2">
      <img src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/image-512.png" alt="" width="20" height="20" /> Text2
    </li>
    <li class="input-option" data-value="3">
      <img src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/image-512.png" alt="" width="20" height="20" /> Text3
    </li>
  </ul>
  <input type="hidden" class="option" name="namesubmit" value="" />
</div>