<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <div id="content" style="margin-top:75px">
            <div align="center">
                <form action="findMatches" method="get">
                    <h1>How many people?</h1>
                    <select id="partySize" name="partySize" class="select-css" style="font-family: 'Oxygen'">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <br>
                    <br>
                    <div class="wrap">
                        <div class="btn-6" style="margin-top: 50px" onclick="document.forms[0].submit()">find your party<span></span></div>
                    </div>
                </form>
                <script src="js/button.js"></script>
            </div>
        </div>
    </body>
</html>