<head>
    {{> head}}
</head>

<body>
    {{> topnav}}
    <section class="home"></section>

    <div align="center">
        <form action="gameFinder" method="get">
            <h1>How many people?</h1>
            <select id="lane">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">>4</option>
            </select>
            <br>

            <br>
            <button type="submit">Find your party</button>
        </form>
    </div>
</body>