<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <div id="content" style="margin-top:75px">
            <h1 class="mt-4">Dashboard</h1>
            <br>
            <h2 class="lead mb-3">Welcome {{user}}</h2>
            <br>
            <div class="wrap">
                <a href="/logout" class="btn-6">Logout<span></span></a>
            </div>
        </div>   
    </body>
</html>
<script src="js/button.js"></script>