<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <h1 class="mt-4">Dashboard</h1>
        <br>
        <text class="lead mb-3">Welcome {{user}}</text>
        <br>
        <div class="wrap">
            <a href="/logout" class="btn-6" style="margin-top: 50px">Logout<span></span></a>
        </div>
        <script src="js/button.js"></script>
    </body>
</html>
