<!DOCTYPE html>
<html style="overflow:hidden;">
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <div id="content" style="margin-top:50px">
            <div class="wrapper">
            <div class="dashboard-background">
                <div class="filter-black"></div>
                <div class="container">
         <h1 class="mt-4">Welcome, {{user}}!</h1>
            <br>
            <div class="wrap">
                <a href="/search" class="btn-6" style="font-family: 'Oxygen';">Find a party<span></span></a>
            </div>
            </div>
        </div>
            </div> 
        </div>   
    </body>
</html>
<script src="js/button.js"></script>