<!DOCTYPE html>
<html>
    <head>
        {{> head}}
        <link href="https://codepen.io/kjbrum/pen/myyZLq">
        <script src="https://s.codepen.io/assets/libs/modernizr.js"></script>
    </head>

    <body>
        <div align="center">
            <h1 style="font-size:54px">Welcome</h1>
        </div>
        <div class="wrap">
            <a href="/login" class="btn-6" href="#" style="margin-top: 50px">Sign in with blockstack<span></span></a>
        </div>
        <script src="js/button.js"></script>
    </body>
</html>
