<head>
    {{> head}}
</head>

<body>
    <div align="center">
        <h1>Welcome</h1>
        <a href="#" class="btn btn-primary btn-lg" id="signin-button" style="font-size:20px">
            Sign In with Blockstack
        </a>
    </div>
</body>