<head>
    {{> head}}
    <link href="https://codepen.io/kjbrum/pen/myyZLq">
    <script src="https://s.codepen.io/assets/libs/modernizr.js"></script>
</head>

<body>
    <div align="center">
        <img src="images/Untitled_drawing.svg" style="width:50%; height:50%">
    </div>
    <div align="center">
        <text>Find the perfect team</text>
    </div>
    <div class="wrap">
        <a href="/login" class="btn-6" style="margin-top: 50px">Sign in with blockstack<span></span></a>
    </div>
    <script src="js/button.js"></script>
</body>