<!DOCTYPE html>
<html style="overflow:hidden;">
    <head>
        <link rel="icon" type="image/png" href="media/favicon.png">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/button.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/cube.css">
        <title>partyscout</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://unpkg.com/blockstack@19.4.0-beta.1/dist/blockstack.js" integrity="sha384-SB5ZTUxSxlrMk3QBbqtewpVzllKVRD3JeT5RuZ3Tj4/1MuXaMphMCFCz1ht2qG80" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <link href="https://codepen.io/kjbrum/pen/myyZLq">
        <script src="https://s.codepen.io/assets/libs/modernizr.js"></script>
        <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/ct-paper.css" rel="stylesheet" />
        <link href="assets/css/demo.css" rel="stylesheet" />
        <link href="assets/css/examples.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177271734-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-177271734-2');
        </script>
    </head>

    <body height="100%">
        <div id="experiment">
            <div id="cube" class="cube" align="center">
                <div id="front" class="face front">
                    <div class="fullscreen-bg__video" style="opacity:0.4;">
                        <video autoplay muted loop><source src="media/homepage.mp4"></video>
                    </div>
                    <div class="outer">
                        <div class="middle">
                            <div class="inner">
                                <div align="center">
                                    <img src="media/logo.svg" style="width:100%; height:100%">
                                </div>
                                <div align="center">
                                    <h2 style="color:white;">Lonely? Find the perfect gaming team.</h2>
                                </div>
                                <br>
                                <div class="wrap">
                                    <div class="btn-6" style="margin-top: 50px" onclick="rotate()">Sign in<span></span></div>
                                </div>
                                <script src="js/button.js"></script>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="side" class="face side">
                    {{>login_partial}}
                </div>
            </div>
        </div>
    </body>
</html>
<script>