<head>
    {{> head}}
</head>

<body>
    {{> topnav}}
    <div align="center">
        <h1>Welcome</h1>
        <a href="#" class="btn btn-primary btn-lg" id="signin-button">
            Sign In with Blockstack
        </a>
    </div>
</body>