<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <h1>Login</h1>
      <form action="/login" method="POST">

        {{!-- enter email address --}}
        <div class="form-group">  
          <text for="email">Email</text>
          <input type="email" id="email" name="email" placeholder="Enter Email" />
        </div>
        
        {{!-- enter password --}}
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" />
        </div>

        <button type="submit">Login</button>
      </form>
    <p>
      No Account? <a href="/register">Register</a>
    </p>
  </body>
</html>