<!DOCTYPE html>
<html>

<head>
    {{> head}}
</head>

<body>
    {{> topnav}}
    <div id="content" style="margin-top:75px">
        <div align="center">
            <h2>Hello, {{userD.display_name}}!</h2>



            <h1>Your Current Match:</h1>
            <h2 style="color:aqua" id="currentMatches">None (yet!)</h2>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(() => {
            var ajax_params = {
                'url': "/matches_worker",
                'type': "get",
                'success': onServerResponse
            }
            $.ajax(ajax_params)
        });

        function onServerResponse(responseArray) {
            console.log(responseArray);
            document.getElementById('currentMatches').innerHTML = "";
            for(var i = 0; i < responseArray.length; i++) {
                console.log(responseArray[i])
                document.getElementById('currentMatches').innerHTML += responseArray[i] +'<br>';
            }
        }
        
    </script>
</body>

</html>