<!DOCTYPE html>
<html>
  <head>
      {{> head}}
  </head>
  <body>
    {{> topnav}}
    <div id="content" style="margin-top:75px">
      <h1>Match failed</h1>
      <h2>Unfortunately, we were not able to find a match for you. However, your name has been added to the database.</h2>
    </div>
  </body>
</html>