<!DOCTYPE html>
<html>
  <head>
      {{> head}}
  </head>
  <body>
    {{> topnav}}
    <div id="content" style="margin-top:75px">
      <div align="center">
          <h2>Hello {{userD.display_name}}!</h2>

        <div class="wrap">
            <div class="btn-6" style="margin-top: 50px" onclick="fetchFromServor">Find your parties<span></span></div>
        </div>

        <h1 id="matchText"></h1>
        <script src="js/button.js"></script>

      </div>
    </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

    function fetchFromServer() {
        
        var ajax_params = {
            'url'     : "/matches_worker",
            'type'    : "get",
            'success' : onServerResponse
        }
        
        $.ajax( ajax_params )
    }
    function onServerResponse (responseArray) {
        var s = "";
        
        for(int n = 0; n < responseArray.length; n++){
            for(int c = 0; c < responseArray[n].length; c++){
                s += responseArray[n][c];
            }
        }

        document.getElementById("matchText").innerHTML = s; 


    }
</script>