<!DOCTYPE html>
<html>
  <head>
      {{> head}}
  </head>
  <body>
    {{> topnav}}
    <div id="content" style="margin-top:75px">
      <h1>Match in progress!</h1>
      <h2 style="margin-left:50px;margin-right:50px;">Unfortunately, we were not able to find an instant match for you. However, your information has been added to the queue and the match will appear under your "Matches" tab once complete!</h2>
    </div>
  </body>
</html>