<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <div id="content" style="margin-top:75px">
            <div align="center">
                <form action="gameFinder" method="get">

                    <h1>Mode: </h1>
                    <select id="mode" class="select-css">
                        <option value="0">Survival</option>
                        <option value="1">Creative</option>
                    </select>
                    
                    <br>
                    <br>
                </form>
                <div class="wrap">
                    <div class="btn-6" style="margin-top: 50px" onclick="document.forms[0].submit()">find your party<span></span></div>
                </div>
                <script src="js/button.js"></script>
            </div>
        </div>
    </body>
</html>