<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> topnav}}
        <div id="content" style="margin-top:75px">
            <h1 class="mt-4">Page not found</h1>
            <br>
            <h2 class="lead mb-3" style="color:white;">That page unfortunately does not exist.</h2>
            <br>
            <div class="wrap">
                <a href="/search" class="btn-6">Find party<span></span></a>
            </div>
        </div>   
    </body>
</html>
<script src="js/button.js"></script>