<head>
    <link rel="shortcut icon" href="media/favicon2.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topnav.css">
    <title>Willkommen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>


<body>
    {{> topnav}}
    <section class="home"></section>
</body>