<!DOCTYPE html>
<html>
  <head>
      {{> head}}
  </head>
  <body>
    {{> topnav}}
    <div id="content" style="margin-top:75px">
      <div align="center">
          <form action="gameFinder" method="get">
              <h1>Game: </h1>
              <select id="game" name="game">
                  <option value="4" selected>Just chatting</option>
                  <option value="0">League of Legends</option>
                  <option value="1">Counter Strike: Global Offensive</option>
                  <option value="2">Minecraft</option>
                  <option value="3">Rainbow Six: Siege</option>
              </select>
              <br>

              <h1>Language: </h1>
              <select id="language" name="language">
                  <option value="0">Chinese</option>
                  <option value="1" selected>English</option>
                  <option value="2">Korean</option>
                  <option value="3">Russian</option>
                  <option value="4">Spanish</option>
              </select>
              <br>
              <button type="submit">Submit</button>
          </form>
      </div>
    </div>
  </body>
</html>