<head>
    <link rel="shortcut icon" href="media/favicon2.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/topnav.css">
    <title>Willkommen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>


<body>
    {{> topnav}}
    <section class="home"></section>

    <div align="center">
        <h1>Game: </h1>
        <select id="game">
            <option value="0">League of Legends</option>
            <option value="1">CS: GO</option>
            <option value="2">Minecraft</option>
            <option value="3">Rainbow 6</option>
            <option value="4">Just Chat</option>
        </select>
        <br>

        <h1>Language: </h1>
        <select id="language">
            <option value="0">Chinese</option>
            <option value="1" selected>English</option>
            <option value="2">Korean</option>
            <option value="3">Russian</option>
            <option value="4">Spanish</option>
        </select>
        <br>
        
    </div>

</body>