div.mm-dropdown {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 3px;
  }
  
  div.mm-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  div.mm-dropdown ul li,
  div.mm-dropdown div.textfirst {
    padding: 0;
    color: #c2c2c2;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
  }
  
  div.mm-dropdown div.textfirst img.down {
    float: right;
    margin-top: 5px
  }
  
  div.mm-dropdown ul li:last-child {
    border-bottom: 0;
  }
  
  div.mm-dropdown ul li {
    display: none;
    padding-left: 25px;
  }
  
  div.mm-dropdown ul li.main {
    display: block;
  }
  
  div.mm-dropdown ul li img {
    width: 20px;
    height: 20px;
  }