/* @import url('https://fonts.googleapis.com/css?family=Germania+One|Rosarivo|Source+Serif+Pro:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Brawler&display=swap');

html {
    overflow: hidden;
}

text {
    font-size: 32px;
    color: #03DAC6;
    font-family: 'Brawler', 'serif';
}

h1 {
    font-size: 45px;
    color: #BB86FC;
    font-family: 'Oxygen', 'sans serif';
}

h2 {
    font-size: 35px;
    color: #ffffff;
    font-family: 'Oxygen', 'sans serif';
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: inline-block;
    z-index: -100;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*whatever width you want*/
  }